{% extends "base.html" %}
{% block page_content %}
<main class="container" style="background-color: red;">
    <h1 class="mt-5 mb-4 text-dark bg-white">Olá, seja bem-vindo à minha página de redes sociais.</h1>
    <img src="https://my-site-imagens-videos.s3.us-east-2.amazonaws.com/media/imagen9%5B1%5D.jpg" class="img-fluid" alt="#ParaTodosVerem: Uma foto exibe um iPhone sobre uma mesa de madeira, com a palavra “Hello” exibida na tela.">
    <section class="mb-5">
    <br>
    <p class="mb-5 text-dark bg-white">Eu sou Roberto Manuel, um apaixonado por tecnologia. Aqui você pode encontrar os links das minhas redes sociais: Instagram, Facebook e LinkedIn. Nessas plataformas, eu compartilho conteúdos interessantes e atualizados sobre o mundo tecnológico. Você pode me conhecer mais e também me seguir para ficar por dentro das novidades. Agradeço a sua visita e espero que goste do meu trabalho. Um abraço!</p>
    </section>
<br>
    <p class="mb-5 text-dark bg-white">Você também pode me encontrar no Instagram: <a href="https://www.instagram.com/invites/contact/?i=1ugu7iacbaw97&utm_content=mng9rof" class="text-primary">Instagram</a>, Facebook: <a href="https://www.facebook.com/profile.php?id=100072623021022&mibextid=ZbWKwL" class="text-primary">Facebook</a>, LinkedIn: <a href="https://www.linkedin.com/in/roberto-manuel-ab5524251?" class="text-primary">LinkedIn</a></p>
<br>
    <a href="/" class="btn btn-primary">Página Inicial</a>
</main>
{% endblock page_content %}
