{% extends "base.html" %}

{% block page_content %}
<div class="bg-danger text-center text-white">
    <h1 class="mt-5 mb-4 bg-white text-dark">{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            {% if project.image %}
                <img class="img-fluid" src="{{ project.image.url }}">
            {% endif %}
        </div>
        <div class="col-md-4">
            <h5 class="bg-white text-dark">About the project:</h5>
            <p class="bg-white text-dark">{{ project.description }}</p>
            <br>
            <h5 class="bg-white text-dark">Technology used:</h5>
            <p class="bg-white text-dark">{{ project.technology }}</p>
        </div>
    </div>
</div>
{% endblock page_content %}